.wrapper {
  min-height: 50px;
  max-width: 230px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 2rem 0px;
  flex: 1 1 100%;
}

.title {
  margin: 0px 0px 0.5rem 0px;
}

.infoItem {
  margin: 0px 0px 0.1rem 0px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13c98a;
  border-radius: 44px;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  padding: 1rem 0;
}
