@import url('./assets/fonts/style.css');

html {
  font-family: 'Leto Sans';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  margin: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 2rem 0px;
  flex: 1 1 100%;
}

.info-title {
  margin: 0px 0px 0.5rem 0px;
}

.info-item {
  margin: 0px 0px 0.1rem 0px;
}

.info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13c98a;
  border-radius: 44px;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  padding: 1rem 0;
}

.wrapper {
  height: 100vh;
  background-color: #474747;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.noShow {
  opacity: 0 !important;
}

.not-choosen {
  font-size: 14px !important;
  color: #9b99aa !important;
}

.form_wrapper {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  width: 100%;
}

.title {
  align-self: start;
  font-size: 1.5rem;
  color: #202020;
}

.form_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form_item {
  margin: 0px 0px 1rem 0px;
  width: 100%;
}

.form_item:not(:first-child) {
  position: relative;
  outline: 2px solid #ede8f7;
  width: 100%;
  border-radius: 6px;
}
.form_item:not(:first-child):hover {
  outline: 2px solid #c0bad5;
}

input,
textarea,
select {
  font-family: 'Leto', sans-serif;
  box-sizing: border-box;
  padding: 1.375rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  resize: none;
}

option {
  padding: 10px 0;
}

.inputActive {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 16px;
  font-size: 0.6875rem;
  color: #9b99aa;
  z-index: 1;
}
.span-active {
  transform: translateY(7px);
}
.input-error {
  outline: 2px solid #f8478d !important;
  position: relative;
}
.input-error::after {
  content: url(./assets/images/error.svg);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 1rem;
  top: calc(50% - 1rem);
}
.input-access {
  outline: 2px solid #13c98a !important;
  position: relative;
}
.input-access::after {
  content: url(./assets/images/acces.svg);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 1rem;
  top: calc(50% - 1rem);
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0px 4px 8px rgba(46, 9, 182, 0.06);
}

input::placeholder,
textarea::placeholder,
select {
  font-family: 'Leto Sans';
  font-size: 0.875rem;
  color: #9b99aa;
}
.select {
  position: relative;
  display: inline-block;
}
.select:after {
  content: url('./assets/images/angle-arrow-down_icon-icons.com_73683.svg');
  height: 10px;
  width: 10px;
  position: absolute;
  right: 1.375rem;
  top: calc(50% - 10px);
  z-index: 1;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
}

select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_item:last-child {
  margin: 0px 0px 1.5rem 0px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn_reset {
  font-weight: bold;
  padding: 15px 12px;
  color: #fff;
  margin: 0px 1rem 0px 0px;
  border-radius: 44px;
  flex: 1 1 40%;
  border: none;
  background-color: #bdbdbd;
}

.btn_submit {
  font-weight: bold;
  padding: 15px 12px;
  color: #fff;
  border-radius: 44px;
  flex: 1 1 60%;
  background-color: #13c98a;
}

.react-select-container {
  width: 100%;
}

.react-select__control {
  cursor: pointer !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.react-select__menu:hover,
.react-select-container:hover > .react-select__menu {
  box-shadow: -2px 2px 2px #c0bad5, 2px 2px 2px #c0bad5 !important;
}
.react-select__menu {
  box-shadow: -2px 2px 2px #ede8f7, 2px 2px 2px #ede8f7 !important;
  border-top: 2px solid #ede8f7;

  margin: -7px 0px 0px 0px !important;
  border-radius: 0 0 4px 4px !important;
}
.react-select__menu-list {
  padding: 0 !important;
}
.react-select__indicator-separator {
  display: none;
}
.react-select__value-container {
  overflow: visible !important;
  padding: 0 !important;
}
.react-select__control {
  padding: 1.375rem 1rem;
}
.react-select__control--menu-is-open {
  box-shadow: none !important;
  filter: drop-shadow(0px 2px 4px rgba(32, 32, 32, 0.05))
    drop-shadow(0px 8px 16px rgba(32, 32, 32, 0.1));
}
.react-select__placeholder {
  font-size: 0.875rem;
  color: #9b99aa !important;
  grid-area: 1/1/2/3;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}
.react-select__option {
  cursor: pointer !important;
}
.react-select__indicator {
  padding: 0 !important;
}
.option {
  padding: 14px;
  border-bottom: 1px solid #f4f2f7;
  box-sizing: 'border-box';
  cursor: 'pointer';
}

.errorMessage {
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
  color: white;
  background: url(./assets/images/messageError.svg) no-repeat center center;

  width: max-content;
  height: 37px;
  top: -1.5rem;
}
.errorMessage-span {
  font-family: 'LetoSans';
  padding: 10px 15px 15px 15px;
  font-size: 12px;
  line-height: 14px;
}
